$body-overflow-y: auto;
$footer-padding: 1rem 1.5rem 1rem;
$navbar-box-shadow-size: 0 1px 0 0;
$content-heading-line-height: 0.8;

$primary: hsl(209, 80%, 40%);
$secondary: lighten($primary, 15%);
$tertiary: lighten($primary, 55%);
$quaternary: lighten($primary, 80%);
$navbar-item-hover-color: $primary;
$navbar-dropdown-arrow: $primary;
$menu-label-color: $primary;
$menu-item-color: $secondary;
$menu-item-hover-color: $primary;
$menu-item-hover-background-color: $tertiary;